#Pandoc Settings
pandoc.output.dir=/tmp
pandoc.output.csstmp=tmp.css
pandoc.output.file=tmp.output
pandoc.exec=/usr/local/bin/pandoc
#pandoc.pdfengine=weasyprint
pandoc.pdfengine=prince
pandoc.princeexec=/usr/local/bin/prince